@font-face {
	font-family: FontAwesome;
	src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/fontawesome-webfont.woff) format("woff"), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf) format("truetype"), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?#fontawesomeregular) format("svg");
	font-weight: normal;
	font-style: normal;
}
.rc-menu {
	list-style: none; border-radius: 3px; border: 1px solid rgb(217, 217, 217); border-image: none; color: rgb(102, 102, 102); padding-left: 0px; margin-bottom: 0px; box-shadow: 0px 0px 4px #d9d9d9;
}
.rc-menu-hidden {
	display: none;
}
.rc-menu-collapse {
	overflow: hidden;
}
.rc-menu-collapse-active {
	transition:height 0.3s ease-out;
}
.rc-menu-item-group-list {
	margin: 0px; padding: 0px;
}
.rc-menu-item-group-title {
	padding: 8px 10px; color: rgb(153, 153, 153); line-height: 1.5; border-bottom-color: rgb(222, 222, 222); border-bottom-width: 1px; border-bottom-style: solid;
}
.rc-menu-item-active {
	background-color: rgb(234, 248, 254);
}
.rc-menu-submenu-active > .rc-menu-submenu-title {
	background-color: rgb(234, 248, 254);
}
.rc-menu-item-selected {
	transform: translateZ(0px); background-color: rgb(234, 248, 254);
}
.rc-menu-submenu-selected {
	background-color: rgb(234, 248, 254);
}
.rc-menu > li.rc-menu-submenu {
	padding: 0px;
}
.rc-menu-sub.rc-menu-horizontal {
	margin-top: 0px; min-width: 160px;
}
.rc-menu-sub.rc-menu-vertical {
	margin-top: 0px; min-width: 160px;
}
.rc-menu-sub.rc-menu-vertical-left {
	margin-top: 0px; min-width: 160px;
}
.rc-menu-sub.rc-menu-vertical-right {
	margin-top: 0px; min-width: 160px;
}
.rc-menu-item {
	margin: 0px; padding: 7px 7px 7px 16px; display: block; white-space: nowrap; position: relative;
}
.rc-menu-submenu-title {
	margin: 0px; padding: 7px 7px 7px 16px; display: block; white-space: nowrap; position: relative;
}
.rc-menu-item-disabled.rc-menu-item {
	color: rgb(119, 119, 119) !important;
}
.rc-menu-item-disabled.rc-menu-submenu-title {
	color: rgb(119, 119, 119) !important;
}
.rc-menu-submenu-disabled.rc-menu-item {
	color: rgb(119, 119, 119) !important;
}
.rc-menu-submenu-disabled.rc-menu-submenu-title {
	color: rgb(119, 119, 119) !important;
}
.rc-menu > .rc-menu-item-divider {
	margin: 1px 0px; padding: 0px; height: 1px; line-height: 0; overflow: hidden; background-color: rgb(229, 229, 229);
}
.rc-menu-submenu-popup {
	position: absolute;
}
.rc-menu-submenu-popup .submenu-title-wrapper {
	padding-right: 20px;
}
.rc-menu-submenu > .rc-menu {
	background-color: rgb(255, 255, 255);
}
.rc-menu .rc-menu-submenu-title .anticon {
	top: -1px; width: 14px; height: 14px; margin-right: 8px;
}
.rc-menu .rc-menu-item .anticon {
	top: -1px; width: 14px; height: 14px; margin-right: 8px;
}
.rc-menu-horizontal {
	border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor rgb(217, 217, 217); border-image: none; overflow: hidden; white-space: nowrap; box-shadow: none; background-color: rgb(243, 245, 247);
}
.rc-menu-horizontal > .rc-menu-item {
	padding: 15px 20px;
}
.rc-menu-horizontal > .rc-menu-submenu > .rc-menu-submenu-title {
	padding: 15px 20px;
}
.rc-menu-horizontal > .rc-menu-submenu {
	vertical-align: bottom; border-bottom-color: transparent; border-bottom-width: 2px; border-bottom-style: solid; display: inline-block;
}
.rc-menu-horizontal > .rc-menu-item {
	vertical-align: bottom; border-bottom-color: transparent; border-bottom-width: 2px; border-bottom-style: solid; display: inline-block;
}
.rc-menu-horizontal > .rc-menu-submenu-active {
	color: rgb(43, 174, 233); border-bottom-color: rgb(45, 183, 245); border-bottom-width: 2px; border-bottom-style: solid; background-color: rgb(243, 245, 247);
}
.rc-menu-horizontal > .rc-menu-item-active {
	color: rgb(43, 174, 233); border-bottom-color: rgb(45, 183, 245); border-bottom-width: 2px; border-bottom-style: solid; background-color: rgb(243, 245, 247);
}
.rc-menu-horizontal::after {
	height: 0px; clear: both; display: block; content: " ";
}
.rc-menu-vertical {
	padding: 12px 0px;
}
.rc-menu-vertical-left {
	padding: 12px 0px;
}
.rc-menu-vertical-right {
	padding: 12px 0px;
}
.rc-menu-inline {
	padding: 12px 0px;
}
.rc-menu-vertical > .rc-menu-item {
	padding: 12px 8px 12px 24px;
}
.rc-menu-vertical-left > .rc-menu-item {
	padding: 12px 8px 12px 24px;
}
.rc-menu-vertical-right > .rc-menu-item {
	padding: 12px 8px 12px 24px;
}
.rc-menu-inline > .rc-menu-item {
	padding: 12px 8px 12px 24px;
}
.rc-menu-vertical > .rc-menu-submenu > .rc-menu-submenu-title {
	padding: 12px 8px 12px 24px;
}
.rc-menu-vertical-left > .rc-menu-submenu > .rc-menu-submenu-title {
	padding: 12px 8px 12px 24px;
}
.rc-menu-vertical-right > .rc-menu-submenu > .rc-menu-submenu-title {
	padding: 12px 8px 12px 24px;
}
.rc-menu-inline > .rc-menu-submenu > .rc-menu-submenu-title {
	padding: 12px 8px 12px 24px;
}
.rc-menu-vertical .rc-menu-submenu-arrow {
	text-align: center; right: 16px; text-transform: none; line-height: 1.5em; font-family: FontAwesome; font-size: inherit; font-style: normal; font-variant: normal; font-weight: normal; vertical-align: baseline; display: inline-block; position: absolute; font-size-adjust: none; font-stretch: normal; text-rendering: auto;
}
.rc-menu-vertical-left .rc-menu-submenu-arrow {
	text-align: center; right: 16px; text-transform: none; line-height: 1.5em; font-family: FontAwesome; font-size: inherit; font-style: normal; font-variant: normal; font-weight: normal; vertical-align: baseline; display: inline-block; position: absolute; font-size-adjust: none; font-stretch: normal; text-rendering: auto;
}
.rc-menu-vertical-right .rc-menu-submenu-arrow {
	text-align: center; right: 16px; text-transform: none; line-height: 1.5em; font-family: FontAwesome; font-size: inherit; font-style: normal; font-variant: normal; font-weight: normal; vertical-align: baseline; display: inline-block; position: absolute; font-size-adjust: none; font-stretch: normal; text-rendering: auto;
}
.rc-menu-inline .rc-menu-submenu-arrow {
	text-align: center; right: 16px; text-transform: none; line-height: 1.5em; font-family: FontAwesome; font-size: inherit; font-style: normal; font-variant: normal; font-weight: normal; vertical-align: baseline; display: inline-block; position: absolute; font-size-adjust: none; font-stretch: normal; text-rendering: auto;
}
.rc-menu-vertical .rc-menu-submenu-arrow::before {
	content: "\F0DA";
}
.rc-menu-vertical-left .rc-menu-submenu-arrow::before {
	content: "\F0DA";
}
.rc-menu-vertical-right .rc-menu-submenu-arrow::before {
	content: "\F0DA";
}
.rc-menu-inline .rc-menu-submenu-arrow::before {
	content: "\F0DA";
}
.rc-menu-inline .rc-menu-submenu-arrow {
	transition:transform 0.3s; transform: rotate(90deg);
}
.rc-menu-inline .rc-menu-submenu-open > .rc-menu-submenu-title .rc-menu-submenu-arrow {
	transform: rotate(-90deg);
}
.rc-menu-sub.rc-menu-vertical {
	padding: 0px;
}
.rc-menu-sub.rc-menu-vertical-left {
	padding: 0px;
}
.rc-menu-sub.rc-menu-vertical-right {
	padding: 0px;
}
.rc-menu-inline.rc-menu-sub {
	padding: 0px; border-radius: 0px; border: currentColor; border-image: none; box-shadow: none;
}
.rc-menu-inline.rc-menu-sub > .rc-menu-item {
	padding-top: 8px; padding-right: 0px; padding-bottom: 8px;
}
.rc-menu-inline.rc-menu-sub > .rc-menu-submenu > .rc-menu-submenu-title {
	padding-top: 8px; padding-right: 0px; padding-bottom: 8px;
}
.rc-menu-open-slide-up-enter {
	transform-origin: 0% 0%; opacity: 0; animation-duration: 0.3s; animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1); animation-play-state: paused; animation-fill-mode: both;
}
.rc-menu-open-slide-up-appear {
	transform-origin: 0% 0%; opacity: 0; animation-duration: 0.3s; animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1); animation-play-state: paused; animation-fill-mode: both;
}
.rc-menu-open-slide-up-leave {
	transform-origin: 0% 0%; opacity: 1; animation-duration: 0.3s; animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34); animation-play-state: paused; animation-fill-mode: both;
}
.rc-menu-open-slide-up-enter-active.rc-menu-open-slide-up-enter {
	animation-name: rcMenuOpenSlideUpIn; animation-play-state: running;
}
.rc-menu-open-slide-up-appear-active.rc-menu-open-slide-up-appear {
	animation-name: rcMenuOpenSlideUpIn; animation-play-state: running;
}
.rc-menu-open-slide-up-leave-active.rc-menu-open-slide-up-leave {
	animation-name: rcMenuOpenSlideUpOut; animation-play-state: running;
}
.rc-menu-open-zoom-enter {
	transform-origin: 0% 0%; opacity: 0; animation-duration: 0.3s; animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1); animation-play-state: paused; animation-fill-mode: both;
}
.rc-menu-open-zoom-appear {
	transform-origin: 0% 0%; opacity: 0; animation-duration: 0.3s; animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1); animation-play-state: paused; animation-fill-mode: both;
}
.rc-menu-open-zoom-leave {
	transform-origin: 0% 0%; animation-duration: 0.3s; animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34); animation-play-state: paused; animation-fill-mode: both;
}
.rc-menu-open-zoom-enter-active.rc-menu-open-zoom-enter {
	animation-name: rcMenuOpenZoomIn; animation-play-state: running;
}
.rc-menu-open-zoom-appear-active.rc-menu-open-zoom-appear {
	animation-name: rcMenuOpenZoomIn; animation-play-state: running;
}
.rc-menu-open-zoom-leave-active.rc-menu-open-zoom-leave {
	animation-name: rcMenuOpenZoomOut; animation-play-state: running;
}
